{% extends 'base.html' %}
{% block content %}

<h1>Wyniki wyszukiwania dla: "{{query}}"</h1>
{% for filename, group in entries %}
<h2><a href="{{filename}}">{{filename}}</a></h2>
<pre>
{% for row in group %}{{row.content}}{% endfor %}
</pre>
{% endfor %}
<nav>
  <ul class="pager">
    {% if page > 1 %}
    <li><a href="{{ url_for_other_page(page - 1) }}">&laquo; Prev </a></li>
    {% endif %}
    <li><a href="{{ url_for_other_page(page + 1) }}">Next &raquo;</a></li>
  </ul>
</nav>
{% endblock %}
